<h2 class="text-center">Simple Chat Test Project</h2>

<form class="form-row text-center">
    <div class="col-sm-11 col-md-6 col-md-offset-3">
        <input type="text" class="form-control" id="textInput" placeholder="Let's type someting here!">
    </div>
    <div class="col-sm-auto col-md-1">
        <button type="submit" class="btn btn-success" id="submitButton">Send</button>
    </div>
</form>

<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
            <th>created</th>
            <th>text</th>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>
</div>
